src/main/app/weather.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
   
    <flow name="weather-main">
        <http:listener config-ref="weather-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="weather-config" doc:name="APIkit Router"/>
        <exception-strategy ref="weather-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="get:/countries/{country}/cities:weather-config">
        <set-payload value="[
	{
		&quot;name&quot;: &quot;Warszawa&quot;,
		&quot;code&quot;: &quot;WA&quot;,
		&quot;location&quot;: {
			&quot;lat&quot;: 10,
			&quot;long&quot;: 40
		}
	},
	{
		&quot;name&quot;: &quot;Krak&#243;w&quot;,
		&quot;code&quot;: &quot;KR&quot;,
		&quot;location&quot;: {
			&quot;lat&quot;: 10,
			&quot;long&quot;: 40
		}
	}
]
" doc:name="Set Payload" mimeType="application/json"/>
        <logger message="Response for country #[flowVars.country]: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get:/weather:weather-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/weather/countries/{country}/cities/{city}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="scale" value="Celsius"/>
                <http:query-param paramName="when" value="#[server.dateTime.format(&quot;yyyy-MM-dd&quot;)]"/>
                <http:uri-param paramName="country" value="#[message.inboundProperties.'http.query.params'.country]"/>
                <http:uri-param paramName="city" value="#[message.inboundProperties.'http.query.params'.city]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <flow name="post:/countries/{country}/cities:application/json:weather-config">
        <set-payload value="{&#xA;  &quot;id&quot;: &quot;Warszawa - Wa&quot;,&#xA;  &quot;geo&quot;: &quot;(52.2, 21.0)&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="weather-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
